<html>
    <h1> <center> list of Departments </center></h1> 

    <% 
    
       for(let i=0; i<deptName.length ;i++){

    %>
   <a href="/employeesOfDepartment"><%= deptName[i].dept %></a>
       </br>
   
   <% } %>

</html>