<html>

<body>
   <h1> <center> Employees Information System </center></h1> 

   <a href="/allemployeeslist">Employees</a>
   <br>
   <a href="/departments">Departments</a>
    
</body>
</html>